<a href="https://colab.research.google.com/github/joao-dias-25/dataeng-spark/blob/main/spark/challenges/challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 2
##  Implement CLEANSING process
- Set up path in the "lake"
  - !mkdir -p /content/lake/silver

- Read data from BRONZE layer as PARQUET:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities

- Transformations
  - vehicles
    - rename "lat" and "lon" to "latitude" and "longitude" respectively
    - remove possible duplicates
    - remove rows when the column CURRENT_STATUS is null
    - remove any corrupted record
  - lines
    - remove duplicates
    - remove rows when the column LONG_NAME is null
    - remove any corrupted record
  - municipalities
    - remove duplicates
    - remove rows when the columns NAME or DISTRICT_NAME are null
    - remove any corrupted record

- Write data as PARQUET into the SILVER layer (/content/lake/silver)
  - Partition "vehicles" by "date"(created in the ingestion)
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities

# Setting up PySpark

In [2]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [3]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [37]:

from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import requests

class ETLFlow:
    def __init__(self, spark: SparkSession) -> None:
        self.spark = spark

    def extract_from_file(self, format: str, path: str, **kwargs) -> DataFrame:
        df = self.spark.read.format(format).load(path)
        return df

    def extract_from_api(self, url: str, schema: StructType = None):
      response = requests.get(url)
      rdd = spark.sparkContext.parallelize(response.json())
      if schema:
        df = spark.read.schema(schema).json(rdd)
      else:
        df = spark.read.json(rdd)
      return df

    def load(self, df: DataFrame, format: str, path: str, **kwargs) -> None:
        df.write.mode("overwrite").format(format).save(path)

    def load_partition(self, df: DataFrame, partition:str, format: str, path: str, **kwargs) -> None:
        df.write.mode("overwrite").partitionBy(partition).format(format).save(path)

class ETLTask(ETLFlow):

    def __init__(self, spark: SparkSession) -> None:
        self.spark = spark

    def ingestion_vehicles(self):
      vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                                  StructField('block_id', StringType(), True),
                                  StructField('current_status', StringType(), True),
                                  StructField('id', StringType(), True),
                                  StructField('lat', FloatType(), True),
                                  StructField('line_id', StringType(), True),
                                  StructField('lon', FloatType(), True),
                                  StructField('pattern_id', StringType(), True),
                                  StructField('route_id', StringType(), True),
                                  StructField('schedule_relationship', StringType(), True),
                                  StructField('shift_id', StringType(), True),
                                  StructField('speed', FloatType(), True),
                                  StructField('stop_id', StringType(), True),
                                  StructField('timestamp', TimestampType(), True),
                                  StructField('trip_id', StringType(), True)])

      df = self.extract_from_api(url="https://api.carrismetropolitana.pt/vehicles", schema=vehicle_schema)
      df = df.withColumn('date', date_format('timestamp',"yyyyMMdd"))
      self.load(df=df, format="parquet", path="/content/lake/bronze/vehicles")

    def ingestion_lines(self):

      lines_schema = StructType([
                                 StructField('_corrupt_record', StringType(), True),
                                  StructField('color', StringType(), True),
                                  StructField("facilities",  ArrayType(StringType(), True), True),
                                  StructField('id', StringType(), True),
                                  StructField("localities",  ArrayType(StringType(), True), True),
                                  StructField('long_name', StringType(), True),
                                  StructField("municipalities",  ArrayType(StringType(), True), True),
                                  StructField("patterns",  ArrayType(StringType(), True), True),
                                  StructField("routes",  ArrayType(StringType(), True), True),
                                  StructField('short_name', StringType(), True),
                                  StructField('text_color', StringType(), True)
                                  ])
      df = self.extract_from_api(url="https://api.carrismetropolitana.pt/lines", schema=lines_schema)

      self.load(df=df, format="parquet", path="/content/lake/bronze/lines")

    def ingestion_municipalities(self):
      municipalities_schema = StructType([
                                 StructField('district_id', StringType(), True),
                                  StructField('district_name', StringType(), True),
                                  StructField("id",  StringType(), True),
                                  StructField('name', StringType(), True),
                                  StructField("prefix", StringType(), True),
                                  StructField('region_id', StringType(), True),
                                  StructField("region_name",  StringType(), True),

                                  ])

      df = self.extract_from_api(url="https://api.carrismetropolitana.pt/municipalities", schema=municipalities_schema)

      self.load(df=df, format="parquet", path="/content/lake/bronze/municipalities")

    def cleansing_vehicles(self):
      df = self.extract_from_file(format="parquet", path="/content/lake/bronze/vehicles")

      # transformations
      df = df.withColumnRenamed("lat", "latitude")
      df = df.withColumnRenamed("lon", "longitude")
      df = df.drop_duplicates()
      df = df.filter(df.current_status.isNotNull())

      self.load_partition(df=df, format="parquet", partition='date' ,path="/content/lake/silver/vehicles")

    def cleansing_lines(self):
      df = self.extract_from_file(format="parquet", path="/content/lake/bronze/lines")

      # transformations
      df = df.drop_duplicates()
      df = df.filter(df.long_name.isNotNull())
      self.load(df=df, format="parquet", path="/content/lake/silver/lines")

    def cleansing_municipalities(self):
      df = self.extract_from_file(format="parquet", path="/content/lake/bronze/municipalities")

      # transformations
      df = df.drop_duplicates()
      df = df.filter(df.name.isNotNull() & df.district_name.isNotNull())
      self.load(df=df, format="parquet", path="/content/lake/silver/municipalities")

    def enrich(self):
        pass


if __name__ == '__main__':

    # init spark
    from pyspark.sql import SparkSession
    spark = SparkSession.builder.master('local').appName('ETL Program').getOrCreate()

    print("Starting ETL program")
    etl = ETLTask(spark)

    # run tasks
    print("Running Task - Ingestion Vehicles")
    etl.ingestion_vehicles()

    print("Running Task - Ingestion lines")
    etl.ingestion_lines()

    print("Running Task - ingestion municipalities ")
    etl.ingestion_municipalities()

    print("Running Task - Cleansing Vehicles")
    etl.cleansing_vehicles()

    print("Running Task - Cleansing lines")
    etl.cleansing_lines()

    print("Running Task - Cleansing municipalities")
    etl.cleansing_municipalities()

    #etl.enrich()

    print("ETL program completed")

Starting ETL program
Running Task - Ingestion Vehicles
Running Task - Ingestion lines
Running Task - ingestion municipalities
Running Task - Cleansing Vehicles
Running Task - Cleansing lines
Running Task - Cleansing municipalities
ETL program completed

In [28]:
spark.read.format("parquet").load("/content/lake/bronze/municipalities").show()

+-----------+-------------+----+--------------------+------+---------+----------------+
|district_id|district_name|  id|                name|prefix|region_id|     region_name|
+-----------+-------------+----+--------------------+------+---------+----------------+
|         07|        Évora|0712|        Vendas Novas|    19|    PT187|Alentejo Central|
|         11|       Lisboa|1101|            Alenquer|    20|    PT16B|           Oeste|
|         11|       Lisboa|1102|   Arruda dos Vinhos|    20|    PT16B|           Oeste|
|         11|       Lisboa|1105|             Cascais|    05|    PT170|             AML|
|         11|       Lisboa|1106|              Lisboa|    06|    PT170|             AML|
|         11|       Lisboa|1107|              Loures|    07|    PT170|             AML|
|         11|       Lisboa|1109|               Mafra|    08|    PT170|             AML|
|         11|       Lisboa|1110|              Oeiras|    12|    PT170|             AML|
|         11|       Lisboa|1111|              Sintra|    17|    PT170|             AML|
|         11|       Lisboa|1112|Sobral de Monte A...|    20|    PT16B|           Oeste|
|         11|       Lisboa|1113|       Torres Vedras|    20|    PT16B|           Oeste|
|         11|       Lisboa|1114| Vila Franca de Xira|    18|    PT170|             AML|
|         11|       Lisboa|1115|             Amadora|    03|    PT170|             AML|
|         11|       Lisboa|1116|            Odivelas|    11|    PT170|             AML|
|         15|      Setúbal|1502|           Alcochete|    01|    PT170|             AML|
|         15|      Setúbal|1503|              Almada|    02|    PT170|             AML|
|         15|      Setúbal|1504|            Barreiro|    04|    PT170|             AML|
|         15|      Setúbal|1506|               Moita|    09|    PT170|             AML|
|         15|      Setúbal|1507|             Montijo|    10|    PT170|             AML|
|         15|      Setúbal|1508|             Palmela|    13|    PT170|             AML|
+-----------+-------------+----+--------------------+------+---------+----------------+
only showing top 20 rows

In [33]:
df = ETLTask(spark).extract_from_file(format="parquet", path="/content/lake/bronze/municipalities")

#remove any corrupted record
df.filter(df.name.isNotNull() & df.district_name.isNotNull()).show()

df.printSchema()

+-----------+-------------+---+----+------+---------+-----------+
|district_id|district_name| id|name|prefix|region_id|region_name|
+-----------+-------------+---+----+------+---------+-----------+
+-----------+-------------+---+----+------+---------+-----------+

root
 |-- district_id: string (nullable = true)
 |-- district_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- prefix: string (nullable = true)
 |-- region_id: string (nullable = true)
 |-- region_name: string (nullable = true)

In [ ]:
df = ETLTask(spark).extract_from_file(format="parquet", path="/content/lake/bronze/vehicles")

df = df.withColumnRenamed("lat", "latitude")
df = df.withColumnRenamed("lon", "longitude")
df.printSchema()
df.show()

root
 |-- bearing: integer (nullable = true)
 |-- block_id: string (nullable = true)
 |-- current_status: string (nullable = true)
 |-- id: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- line_id: string (nullable = true)
 |-- longitude: float (nullable = true)
 |-- pattern_id: string (nullable = true)
 |-- route_id: string (nullable = true)
 |-- schedule_relationship: string (nullable = true)
 |-- shift_id: string (nullable = true)
 |-- speed: float (nullable = true)
 |-- stop_id: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- trip_id: string (nullable = true)
 |-- date: string (nullable = true)

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+------+
|bearing|            block_id|current_status|      id| latitude|line_id|longitude|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|  date|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+------+
|    334|20241122-64010324...| IN_TRANSIT_TO|44|12556|38.521713|   4412| -8.82723|  4412_0_1|  4412_0|            SCHEDULED|111650234560| 8.611111| 160325|2024-11-22 18:05:02|4412_0_1|2200|175...|180502|
|    335|20241122-64010102...| IN_TRANSIT_TO|44|12735|38.703598|   4203|  -9.0065|  4203_0_2|  4203_0|            SCHEDULED|121440234560|4.7222223| 100135|2024-11-22 18:04:57|4203_0_2|2200|180...|180457|
|    227|20241122-64010230...| IN_TRANSIT_TO|44|12074|38.525425|   4409|-8.885193|  4409_0_1|  4409_0|            SCHEDULED|112210234560|3.3333333| 160213|2024-11-22 18:04:59|4409_0_1|2200|173...|180459|
|    289|20241122-64010221...| IN_TRANSIT_TO|44|12088| 38.54176|   4420|-8.877129|  4420_0_2|  4420_0|            SCHEDULED|112300234560|4.7222223| 160375|2024-11-22 18:04:57|4420_0_2|2200|171...|180457|
|    240|20241122-64010123...| IN_TRANSIT_TO|44|12071| 38.65294|   4102|-8.991591|  4102_0_2|  4102_0|            SCHEDULED|121230230560|      0.0| 090002|2024-11-22 18:05:02|4102_0_2|2200|174...|180502|
|    103|20241122-64010092...|   INCOMING_AT|44|12532|38.622738|   4521|-8.862225|  4521_0_2|  4521_0|            SCHEDULED|121540234560|12.222222| 130543|2024-11-22 18:05:08|4521_0_2|2200|174...|180508|
|    176|20241122-64010023...| IN_TRANSIT_TO|44|12742|38.705425|   4704|-8.927705|  4704_0_2|  4704_0|            SCHEDULED|123250234560|10.277778| 100295|2024-11-22 18:05:04|4704_0_2|2200|172...|180504|
|     57|20241122-64010261...| IN_TRANSIT_TO|44|12548|38.540615|   4560| -9.02284|  4560_0_2|  4560_0|            SCHEDULED|111620234560| 8.611111| 160760|2024-11-22 18:05:10|4560_0_2|2200|173...|180510|
|    349|20241122-64010175...| IN_TRANSIT_TO|44|12676| 38.53585|   4725|-8.884519|  4725_0_1|  4725_0|            SCHEDULED|113080234560|      0.0| 161001|2024-11-22 18:04:59|4725_0_1|2200|170...|180459|
|    120|20241122-64010152...| IN_TRANSIT_TO|44|12679|38.731785|   4720|-9.000241|  4720_0_1|  4720_0|            SCHEDULED|113310234560|3.6111112| 160027|2024-11-22 18:04:58|4720_0_1|2200|175...|180458|
|    262|20241122-64010282...| IN_TRANSIT_TO|44|12583| 38.52342|   4412|-8.895746|  4412_0_1|  4412_0|            SCHEDULED|111410234560|6.6666665| 160161|2024-11-22 18:05:01|4412_0_1|2200|171...|180501|
|    348|20241122-64010255...| IN_TRANSIT_TO|44|12523|38.644444|   4307|-8.743657|  4307_0_2|  4307_0|            SCHEDULED|111670234560|19.722221| 130156|2024-11-22 18:05:05|4307_0_2|2200|171...|180505|
|    163|20241122-64010300...| IN_TRANSIT_TO|44|12746|38.559345|   4562|-8.887477|  4562_0_2|  4562_0|            SCHEDULED|111600234560|13.888889| 130467|2024-11-22 18:04:58|4562_0_2|2200|170...|180458|
|    178|20241122-64010458...| IN_TRANSIT_TO|44|12093|38.537247|   4481|  -8.8823|  4481_0_3|  4481_0|            SCHEDULED|112520234560| 8.055555| 160143|2024-11-22 18:04:58|4481_0_3|2200|180...|180458|
|     18|20241122-64010084...| IN_TRANSIT_TO|44|12603|38.677647|   4512| -8.92889|  4512_0_2|  4512_0|            SCHEDULED|121610234560|13.611111| 100356|2024-11-22 18:05:06|4512_0_2|2200|170...|180506|
|     93|20241122-64010027...| IN_TRANSIT_TO|44|12692|38.786613|   4705|-9.095616|  4705_0_1|  4705_0|            SCHEDULED|123210234560|25.277779| 100042|2024-11-22 18:04:57|4705_0_1|2200|180...|180457|
|    264|20241122-64010222...| IN_TRANSIT_TO|44|12059|38.528397|   4438|-8.889605|  4438_0_1|  4438_0|            SCHEDULED|112290234560|2.7777777| 160123|2024-11-22 18:05:10|4438_0_1|2200|174...|180510|
|     40|           1_1002-11| IN_TRANSIT_TO| 41|1157|38.753593|   1706|-9.196126|  1706_0_2|  1706_0|            SCHEDULED|        1106|6.6666665| 060015|2024-11-22 18:04:39|1706_0_2_1730_175...|180439|
|    151|20241122-64010271...| IN_TRANSIT_TO|44|12612|38.543243|   4632|-9.028202|  4632_0_1|  4632_0|            SCHEDULED|111520234560|5.8333335| 160781|2024-11-22 18:04:59|4632_0_1|2200|175...|180459|
|    336|20241122-64010094...| IN_TRANSIT_TO|44|12637|38.753895|   4002|-8.959247|  4002_0_3|  4002_0|            SCHEDULED|121520234560|      5.0| 010161|2024-11-22 18:04:59|4002_0_3|2200|173...|180459|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+------+
only showing top 20 rows