<a href="https://colab.research.google.com/github/joao-dias-25/dataeng-spark/blob/main/spark/examples/06-write_partitioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write
- .write
- .format (parquet, csv, json)
- options
- spark.sql.sources.partitionOverwriteMode dynamic

# Write Mode
- overwrite - The overwrite mode is used to overwrite the existing file, alternatively, you can use SaveMode.Overwrite
- append - To add the data to the existing file, alternatively, you can use SaveMode.Append
- ignore - Ignores write operation when the file already exists, alternatively, you can use SaveMode.Ignore.
- errorifexists or error - This is a default option when the file already exists, it returns an error, alternatively, you can use SaveMode.ErrorIfExists.

# Partitioning
Process to organize the data into multiple chunks based on some criteria.
Partitions are organized in sub-folders.
Partitioning improves performance in Spark.

# Setting up PySpark

In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').getOrCreate()

# Preparing data

In [2]:
!pip install faker

Collecting faker
  Downloading Faker-33.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-33.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 22.0 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-33.0.0

In [3]:
from faker import Faker
from datetime import datetime

fake = Faker()

users = []
for _ in range(50):
    user = {
        'date': fake.date_time_between_dates(datetime(2024, 5, 1), datetime(2024, 5, 5)),
        'name': fake.name(),
        'address': fake.address(),
        'email': fake.email(),
        'dob': fake.date_of_birth(),
        'phone': fake.phone_number()
    }
    users.append(user)

df = spark.createDataFrame(users)

df.show(10, False)

+----------------------------------------------------+--------------------------+----------+-------------------------+-----------------+--------------------+
|address                                             |date                      |dob       |email                    |name             |phone               |
+----------------------------------------------------+--------------------------+----------+-------------------------+-----------------+--------------------+
|9500 Carter Ridges\nKimberlyhaven, MO 21519         |2024-05-04 11:51:10.699278|1965-09-29|djacobs@example.com      |Erika Wallace    |885-586-3585x301    |
|USS Wallace\nFPO AE 72382                           |2024-05-02 13:23:17.583099|1984-09-04|wwalker@example.net      |Lisa Mullins     |001-467-351-1718x604|
|9218 Karen Manor\nBarberville, ND 40430             |2024-05-04 02:03:43.955199|1958-01-27|coltonjohnson@example.org|Karen Thornton   |4818032072          |
|6873 Ramos Station Suite 575\nPort Bridget, ID 57916|2024-05-01 12:23:13.355828|1972-02-27|juliejones@example.com   |Jeffrey Henderson|(730)511-2221       |
|4926 Douglas Trail Apt. 008\nNorth Angela, MD 64345 |2024-05-02 19:37:00.547472|1934-03-13|mark04@example.net       |Donna Olson      |(895)378-2800x9355  |
|57106 James Plain\nCalhounland, GA 07618            |2024-05-02 19:28:28.093229|1921-05-09|denniskyle@example.net   |Terry Brown      |001-847-976-5674x084|
|1818 Timothy River Apt. 028\nBrownmouth, LA 37411   |2024-05-01 22:28:33.370538|1958-01-12|adamknight@example.org   |Tammy Moody      |+1-793-911-2712     |
|USNS Moore\nFPO AE 30032                            |2024-05-02 03:34:54.617441|1996-08-18|frankdavid@example.net   |Kimberly Nguyen  |212.793.6367x561    |
|6994 Luis Bridge Apt. 997\nJennifermouth, VI 58182  |2024-05-04 06:42:04.781873|1965-10-31|jlewis@example.com       |Robert Campbell  |812.514.0624        |
|71655 Khan Turnpike\nNew Kelly, MN 26140            |2024-05-04 14:12:11.194005|1933-03-28|xbennett@example.org     |Juan George      |215-843-2537        |
+----------------------------------------------------+--------------------------+----------+-------------------------+-----------------+--------------------+
only showing top 10 rows

# Writing as PARQUET

In [4]:
# Writing as PARQUET with no partitions

path = "/content/write_partitioning/parquet_no_partitions"

df.write.mode("overwrite").format("parquet").save(path)

!ls /content/write_partitioning/parquet_no_partitions

spark.read.format("parquet").load(path).count()

part-00000-66c796b1-ccda-4d72-a113-f0f73d25bb44-c000.snappy.parquet  _SUCCESS

50

In [8]:
!rm -rf /content/write_partitioning/parquet_with_partitions/date_part=20240503

In [9]:
# Writing as PARQUET with partitions
from pyspark.sql.functions import *

path = "/content/write_partitioning/parquet_with_partitions"

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic") # enable dynamic partition overwrite - only overwrites partitions that are coming in the dataframe

(df#.where("date_part = '20240503'")
 .write
 .mode("overwrite")                                               # overwrites the entire path with the new data
 .partitionBy("date_part")                                        # partition the data by column - creates sub-folders for each partition
 .format("parquet")                                               # format of output
 .save(path))                                                     # path

!ls /content/write_partitioning/parquet_with_partitions

spark.read.format("parquet").load(path).count()

'date_part=20240501'  'date_part=20240502'  'date_part=20240503'  'date_part=20240504'

50

In [10]:
# Checking single partition
spark.read.parquet("/content/write_partitioning/parquet_with_partitions/date_part=20240502").show()

+--------------------+--------------------+----------+--------------------+--------------------+--------------------+
|             address|                date|       dob|               email|                name|               phone|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+
|USS Wallace\nFPO ...|2024-05-02 13:23:...|1984-09-04| wwalker@example.net|        Lisa Mullins|001-467-351-1718x604|
|4926 Douglas Trai...|2024-05-02 19:37:...|1934-03-13|  mark04@example.net|         Donna Olson|  (895)378-2800x9355|
|57106 James Plain...|2024-05-02 19:28:...|1921-05-09|denniskyle@exampl...|         Terry Brown|001-847-976-5674x084|
|USNS Moore\nFPO A...|2024-05-02 03:34:...|1996-08-18|frankdavid@exampl...|     Kimberly Nguyen|    212.793.6367x561|
|7497 Meza Drive A...|2024-05-02 00:56:...|2006-03-29| tharris@example.org|       Valerie Mccoy|    271.264.6096x104|
|USCGC Washington\...|2024-05-02 12:44:...|1991-06-05|  nirwin@example.com|     Natasha Sweeney|        718.837.4645|
|474 Mary Meadow\n...|2024-05-02 08:13:...|2009-10-12|stewartashley@exa...|Mrs. Katherine Du...|+1-846-572-1555x4546|
|3724 Rodriguez Br...|2024-05-02 05:08:...|2019-01-30|steven54@example.com|    Angela Gutierrez|   (625)967-4924x265|
|368 Monica Camp\n...|2024-05-02 10:19:...|2016-04-14|fostermegan@examp...|        Emily Parker| (655)822-6665x54257|
|990 Beck Plain\nN...|2024-05-02 03:02:...|1944-09-11|jessica58@example...|       Tiffany Smith|001-706-569-6196x...|
|458 Marcus Branch...|2024-05-02 20:12:...|2011-12-06|alexkennedy@examp...|        Ashley Smith|  707.879.1421x55949|
|8773 Alvarez Path...|2024-05-02 01:50:...|1961-10-16|thomasthompson@ex...|   Heather Hernandez|          2728160624|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+

# Writing as CSV

https://spark.apache.org/docs/3.5.1/sql-data-sources-csv.html

In [11]:
df.count()

50

In [12]:
path = "/content/write_partitioning/csv_no_partitioning/"

# write as csv
(df
  .write
  .format("csv")
  .mode("overwrite")
  .option("delimiter", "|")
  .option("header", True)
  .save(path))

# listing files in the folder
!ls /content/write_partitioning/csv_no_partitioning/

# read as csv
(spark
  .read
  .options(sep="|", multiLine=True, header=True)
  .csv(path)
  .count())

part-00000-215aeb5c-3bb9-4b90-bfc5-03b26bff4d25-c000.csv  _SUCCESS

50

In [14]:
(spark
  .read
  .options(sep="|", multiLine=True, header=True)
  .csv(path)).show()

+--------------------+--------------------+----------+--------------------+-----------------+--------------------+---------+
|             address|                date|       dob|               email|             name|               phone|date_part|
+--------------------+--------------------+----------+--------------------+-----------------+--------------------+---------+
|9500 Carter Ridge...|2024-05-04T11:51:...|1965-09-29| djacobs@example.com|    Erika Wallace|    885-586-3585x301| 20240504|
|USS Wallace\nFPO ...|2024-05-02T13:23:...|1984-09-04| wwalker@example.net|     Lisa Mullins|001-467-351-1718x604| 20240502|
|9218 Karen Manor\...|2024-05-04T02:03:...|1958-01-27|coltonjohnson@exa...|   Karen Thornton|          4818032072| 20240504|
|6873 Ramos Statio...|2024-05-01T12:23:...|1972-02-27|juliejones@exampl...|Jeffrey Henderson|       (730)511-2221| 20240501|
|4926 Douglas Trai...|2024-05-02T19:37:...|1934-03-13|  mark04@example.net|      Donna Olson|  (895)378-2800x9355| 20240502|
|57106 James Plain...|2024-05-02T19:28:...|1921-05-09|denniskyle@exampl...|      Terry Brown|001-847-976-5674x084| 20240502|
|1818 Timothy Rive...|2024-05-01T22:28:...|1958-01-12|adamknight@exampl...|      Tammy Moody|     +1-793-911-2712| 20240501|
|USNS Moore\nFPO A...|2024-05-02T03:34:...|1996-08-18|frankdavid@exampl...|  Kimberly Nguyen|    212.793.6367x561| 20240502|
|6994 Luis Bridge ...|2024-05-04T06:42:...|1965-10-31|  jlewis@example.com|  Robert Campbell|        812.514.0624| 20240504|
|71655 Khan Turnpi...|2024-05-04T14:12:...|1933-03-28|xbennett@example.org|      Juan George|        215-843-2537| 20240504|
|USS May\nFPO AA 5...|2024-05-01T15:16:...|1911-11-19|villegasstacy@exa...|Bethany Patterson|   849.991.0542x5100| 20240501|
|11187 Cannon Corn...|2024-05-03T09:18:...|1964-04-16|  lsmith@example.com|  Jennifer Martin|          6046507494| 20240503|
|807 Amy Walk Suit...|2024-05-04T04:48:...|1987-05-03|matthewspencer@ex...|      Wayne Gomez|        634.324.7386| 20240504|
|7497 Meza Drive A...|2024-05-02T00:56:...|2006-03-29| tharris@example.org|    Valerie Mccoy|    271.264.6096x104| 20240502|
|64568 Ramsey Cove...|2024-05-01T21:56:...|1981-02-21| zbryant@example.org|   Michelle Lopez|       (754)585-3049| 20240501|
|753 Cynthia Cliff...|2024-05-04T09:24:...|1932-11-09|brianwilson@examp...|  Angel Mcconnell|   260.459.9348x4593| 20240504|
|USCGC Washington\...|2024-05-02T12:44:...|1991-06-05|  nirwin@example.com|  Natasha Sweeney|        718.837.4645| 20240502|
|68915 Rivers Expr...|2024-05-01T11:58:...|1944-02-13|xpollard@example.org|   Jermaine Owens|  (792)332-4466x0838| 20240501|
|Unit 3436 Box 416...|2024-05-03T19:29:...|1912-09-13|shaunscott@exampl...|   Michael Garner|  (804)663-2120x4368| 20240503|
|8425 Ferguson Squ...|2024-05-03T03:48:...|1955-08-04|snyderdonna@examp...|     Angel Nguyen|        253-837-1570| 20240503|
+--------------------+--------------------+----------+--------------------+-----------------+--------------------+---------+
only showing top 20 rows

# Writing as JSON

https://spark.apache.org/docs/3.5.1/sql-data-sources-json.html

In [17]:
path = "/content/write_partitioning/json_no_partitioning/"

# write as json
(df
.write
.mode("overwrite")
.format("json")
.save(path))

# listing files in the folder
!ls /content/write_partitioning/json_no_partitioning/

# read as json
(spark
  .read
  .json(path)
  .count())

part-00000-419d3691-98ae-47c4-a74b-6dc64e310efc-c000.json  _SUCCESS

50

In [18]:
# reading json as text
spark.read.text(path).show(10, False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"address":"9500 Carter Ridges\nKimberlyhaven, MO 21519","date":"2024-05-04T11:51:10.699Z","dob":"1965-09-29","email":"djacobs@example.com","name":"Erika Wallace","phone":"885-586-3585x301","date_part":"20240504"}             |
|{"address":"USS Wallace\nFPO AE 72382","date":"2024-05-02T13:23:17.583Z","dob":"1984-09-04","email":"wwalker@example.net","name":"Lisa Mullins","phone":"001-467-351-1718x604","date_part":"20240502"}                            |
|{"address":"9218 Karen Manor\nBarberville, ND 40430","date":"2024-05-04T02:03:43.955Z","dob":"1958-01-27","email":"coltonjohnson@example.org","name":"Karen Thornton","phone":"4818032072","date_part":"20240504"}                |
|{"address":"6873 Ramos Station Suite 575\nPort Bridget, ID 57916","date":"2024-05-01T12:23:13.355Z","dob":"1972-02-27","email":"juliejones@example.com","name":"Jeffrey Henderson","phone":"(730)511-2221","date_part":"20240501"}|
|{"address":"4926 Douglas Trail Apt. 008\nNorth Angela, MD 64345","date":"2024-05-02T19:37:00.547Z","dob":"1934-03-13","email":"mark04@example.net","name":"Donna Olson","phone":"(895)378-2800x9355","date_part":"20240502"}      |
|{"address":"57106 James Plain\nCalhounland, GA 07618","date":"2024-05-02T19:28:28.093Z","dob":"1921-05-09","email":"denniskyle@example.net","name":"Terry Brown","phone":"001-847-976-5674x084","date_part":"20240502"}           |
|{"address":"1818 Timothy River Apt. 028\nBrownmouth, LA 37411","date":"2024-05-01T22:28:33.370Z","dob":"1958-01-12","email":"adamknight@example.org","name":"Tammy Moody","phone":"+1-793-911-2712","date_part":"20240501"}       |
|{"address":"USNS Moore\nFPO AE 30032","date":"2024-05-02T03:34:54.617Z","dob":"1996-08-18","email":"frankdavid@example.net","name":"Kimberly Nguyen","phone":"212.793.6367x561","date_part":"20240502"}                           |
|{"address":"6994 Luis Bridge Apt. 997\nJennifermouth, VI 58182","date":"2024-05-04T06:42:04.781Z","dob":"1965-10-31","email":"jlewis@example.com","name":"Robert Campbell","phone":"812.514.0624","date_part":"20240504"}         |
|{"address":"71655 Khan Turnpike\nNew Kelly, MN 26140","date":"2024-05-04T14:12:11.194Z","dob":"1933-03-28","email":"xbennett@example.org","name":"Juan George","phone":"215-843-2537","date_part":"20240504"}                     |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [19]:
# reading json as text
spark.read.json(path).show(10, False)

+----------------------------------------------------+------------------------+---------+----------+-------------------------+-----------------+--------------------+
|address                                             |date                    |date_part|dob       |email                    |name             |phone               |
+----------------------------------------------------+------------------------+---------+----------+-------------------------+-----------------+--------------------+
|9500 Carter Ridges\nKimberlyhaven, MO 21519         |2024-05-04T11:51:10.699Z|20240504 |1965-09-29|djacobs@example.com      |Erika Wallace    |885-586-3585x301    |
|USS Wallace\nFPO AE 72382                           |2024-05-02T13:23:17.583Z|20240502 |1984-09-04|wwalker@example.net      |Lisa Mullins     |001-467-351-1718x604|
|9218 Karen Manor\nBarberville, ND 40430             |2024-05-04T02:03:43.955Z|20240504 |1958-01-27|coltonjohnson@example.org|Karen Thornton   |4818032072          |
|6873 Ramos Station Suite 575\nPort Bridget, ID 57916|2024-05-01T12:23:13.355Z|20240501 |1972-02-27|juliejones@example.com   |Jeffrey Henderson|(730)511-2221       |
|4926 Douglas Trail Apt. 008\nNorth Angela, MD 64345 |2024-05-02T19:37:00.547Z|20240502 |1934-03-13|mark04@example.net       |Donna Olson      |(895)378-2800x9355  |
|57106 James Plain\nCalhounland, GA 07618            |2024-05-02T19:28:28.093Z|20240502 |1921-05-09|denniskyle@example.net   |Terry Brown      |001-847-976-5674x084|
|1818 Timothy River Apt. 028\nBrownmouth, LA 37411   |2024-05-01T22:28:33.370Z|20240501 |1958-01-12|adamknight@example.org   |Tammy Moody      |+1-793-911-2712     |
|USNS Moore\nFPO AE 30032                            |2024-05-02T03:34:54.617Z|20240502 |1996-08-18|frankdavid@example.net   |Kimberly Nguyen  |212.793.6367x561    |
|6994 Luis Bridge Apt. 997\nJennifermouth, VI 58182  |2024-05-04T06:42:04.781Z|20240504 |1965-10-31|jlewis@example.com       |Robert Campbell  |812.514.0624        |
|71655 Khan Turnpike\nNew Kelly, MN 26140            |2024-05-04T14:12:11.194Z|20240504 |1933-03-28|xbennett@example.org     |Juan George      |215-843-2537        |
+----------------------------------------------------+------------------------+---------+----------+-------------------------+-----------------+--------------------+
only showing top 10 rows

In [21]:
# partition json data + saveAsTable

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

# write as json
(df.write
  .partitionBy("date_part")
  .mode("overwrite")
  .format("json")
  .saveAsTable("tbl_json_part"))

# read as json
print(spark.table("tbl_json_part").count())

# read as json
spark.sql("show partitions tbl_json_part").show()

50
+------------------+
|         partition|
+------------------+
|date_part=20240501|
|date_part=20240502|
|date_part=20240503|
|date_part=20240504|
+------------------+

In [23]:
spark.sql("show tables from default").show()

+---------+-------------+-----------+
|namespace|    tableName|isTemporary|
+---------+-------------+-----------+
|  default|tbl_json_part|      false|
+---------+-------------+-----------+

# Append Mode

In [ ]:
# Writing as PARQUET with APPEND

path = "/content/write_partitioning/parquet_append"

df.write.mode("append").format("parquet").save(path)

!ls /content/write_partitioning/parquet_append

spark.read.format("parquet").load(path).count()

part-00000-19403de2-076f-46ee-849e-cb4d71597ef7-c000.snappy.parquet
part-00000-3b17956e-ed3d-4cbe-bebf-6602d8e45c1d-c000.snappy.parquet
part-00000-dc9d4535-21b1-452d-97eb-cc6cc34a5870-c000.snappy.parquet
_SUCCESS

150